<section class="testimonial-section-rh">
  <div class="container-rh">
    <h2 class="title-testimonial">{{ section.settings.title }}</h2>
    
    <!-- Testimonial Slider -->
    <div class="swiper testi-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'testimonial' %}
            <div class="swiper-slide">
              <div class="testi-card">
                <div class="img-wrapper">
                  <img src="{{ block.settings.image | img_url: '700x' }}" alt="{{ block.settings.name }}" />
                </div>
                <div class="content-wrapper">
                  <p class="review-text">{{ block.settings.review_text }}</p>
                  <div class="reviewer-details">
                    <span class="name">{{ block.settings.name }}</span>
                    <span class="location">{{ block.settings.location }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-button-next swiper-btn"></div>
      <div class="swiper-button-prev swiper-btn"></div>
    </div>

    <!-- Review Platforms -->
    <div class="review-platform">
      {% for block in section.blocks %}
        {% if block.type == 'review_platform' %}
          <div class="review-card">
            <img src="{{ block.settings.logo | img_url: 'medium' }}" alt="{{ block.settings.platform_name }}" class="logo" />

            <div class="ks-star-rating">
              <svg viewBox="0 0 1000 200" class="rating">
                <defs>
                  <polygon
                    id="star-{{ forloop.index }}"
                    points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 "
                  ></polygon>
                  <clippath id="stars-{{ forloop.index }}">
                    <use xlink:href="#star-{{ forloop.index }}"></use>
                    <use xlink:href="#star-{{ forloop.index }}" x="20%"></use>
                    <use xlink:href="#star-{{ forloop.index }}" x="40%"></use>
                    <use xlink:href="#star-{{ forloop.index }}" x="60%"></use>
                    <use xlink:href="#star-{{ forloop.index }}" x="80%"></use>
                  </clippath>
                </defs>
                <rect class="rating__background" clip-path="url(#stars-{{ forloop.index }})"></rect>
                <rect
                  width="{{ block.settings.rating | times: 20 }}%"
                  class="rating__value"
                  clip-path="url(#stars-{{ forloop.index }})"
                ></rect>
              </svg>
            </div>
            <span class="reviews-count">{{ block.settings.reviews_count }} Reviews</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

    <style>
      section.testimonial-section-rh .container-rh {
        padding: 120px 20px;
      }
      section.testimonial-section-rh .container-rh {
        max-width: 1504px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      section.testimonial-section-rh .container-rh .title-testimonial {
        font-family: "Bricolage Grotesque";
        font-weight: 500;
        font-size: 64px;
        line-height: 104%;
        letter-spacing: -0.6%;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        margin-bottom: 64px;
      }
      section.testimonial-section-rh .container-rh .testi-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }
      section.testimonial-section-rh .container-rh .testi-card .img-wrapper {
        max-width: 696px;
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
      }
      section.testimonial-section-rh
        .container-rh
        .testi-card
        .img-wrapper
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      section.testimonial-section-rh .container-rh .content-wrapper {
        padding: 64px;
      }
      section.testimonial-section-rh
        .container-rh
        .content-wrapper
        .review-text {
        font-family: "Bricolage Grotesque";
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0%;
        margin: 0;
        margin-bottom: 68px;
      }
      section.testimonial-section-rh
        .container-rh
        .content-wrapper
        .reviewer-details {
        display: flex;
        flex-direction: column;
        font-family: "Bricolage Grotesque";
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
        vertical-align: middle;
      }
      section.testimonial-section-rh
        .container-rh
        .content-wrapper
        .reviewer-details
        .name {
        font-weight: 600;
      }
      section.testimonial-section-rh .container-rh .review-platform {
        max-width: 936px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 60px;
      }
      section.testimonial-section-rh
        .container-rh
        .review-platform
        .review-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .testimonial-section-rh .swiper {
        width: 100%;
        height: 100%;
      }

      .testimonial-section-rh .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .testimonial-section-rh .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .testimonial-section-rh .swiper-btn {
        width: 48px !important;
        height: 48px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px -4px #0000001a;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border: 1px solid #394c6026;
        border-radius: 100px;
      }
      .testimonial-section-rh .swiper-btn:after {
        font-size: 20px !important;
        color: #7c7f81;
      }
      @media (max-width: 1024px) {
        section.testimonial-section-rh .container-rh .content-wrapper{
          padding: 25px;
        }
        section.testimonial-section-rh .container-rh .testi-card {
          flex-direction: column;
          width: 100%;
        }
        section.testimonial-section-rh .container-rh .testi-card .img-wrapper {
          max-width: none;
        }
        section.testimonial-section-rh .container-rh .review-platform {
          flex-wrap: wrap;
        }
      }
    </style>

{% schema %}
{
  "name": "Testimonial Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Learners Love SupportSkills"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Person Image"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "“SupportSkills helped me gain on-the-job confidence, build a portfolio, and earn a microcredential to share with prospective employers.”"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Ben, Business Analyst"
        },
        {
          "type": "text",
          "id": "location",
          "label": "Location/Program",
          "default": "Nanodegree program graduate"
        }
      ]
    },
    {
      "type": "review_platform",
      "name": "Review Platform",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Platform Logo"
        },
        {
          "type": "text",
          "id": "platform_name",
          "label": "Platform Name",
          "default": "Facebook"
        },
        {
          "type": "range",
          "id": "rating",
          "label": "Star Rating",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "default": 4.5,
          "info": "Rating out of 5 stars"
        },
        {
          "type": "text",
          "id": "reviews_count",
          "label": "Number of Reviews",
          "default": "2434"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RH Review Section",
      "category": "Custom",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "review_platform"
        },
        {
          "type": "review_platform"
        },
        {
          "type": "review_platform"
        }
      ]
    }
  ]
}
{% endschema %}